[2014-10-20 20:56] heathv opened #1 "User Flowchart"
[Here is a link to said flowchart for ChimpZoo](http://adobe.ly/ZDiOIT)

Pretty rough, but let me know if there's a step I missed!

[2014-11-03 21:15] chrissnyder opened #2 "Individual Chimp identification"
An item the science team has requested and I think is an interesting one is the possibility of asking users to individually identify the chimps. Apparently the numbers are small enough where you frequently see the same animal in a number of scenes.

From the ST on individual IDing:

Not sure if they have an existing list we need to match against or if the project would build the list from scratch.

[2014-11-05 17:56] DarrenMcRoy opened #3 "Copy for About page"
Finished drafting copy for the ChimpWhatever (can't decide what to call it, can we?) About page.

Please take a look, edit, and let me know what you think.

https://docs.google.com/a/zooniverse.org/document/d/1MveHnQ6k9zesI8BqQJpSeoo8h3L-uKaMj6LTzol5cqE/edit

Once I get a few eyes on this, it can go back to the team for final edits and approval.

Thank you!!

[2014-11-06 13:41] chrissnyder opened #4 "Ouroboros or Panoptes?"
I think I know the answer to this, but I figured I'd pose the question anyway. Certainly feels like we should use Panoptes if we can, but I also don't have an idea if the stack is ready or not.

@parrish @edpaget @camallen @brian-c thoughts?

[2014-11-25 17:55] heathv opened #5 "Current design file"
[Click here for the current ChimpZoo iteration](http://assets.adobe.com/link/01496876-d63c-40f6-bff1-e665f38114fa?section=extract)

Each step is a layer comp, so check the little drop-down on that page.

![screenshot 2014-11-25 11 54 05](https://cloud.githubusercontent.com/assets/4551411/5188344/d24fb3fe-7499-11e4-91ed-56713c488f92.png)

(Please ignore goofy "Chimp&See" logo)

[2014-12-10 17:04] #3 closed, assigned to nobody

[2015-01-13 02:12] #4 closed, assigned to nobody

[2015-01-13 02:12] #1 closed, assigned to nobody

[2015-01-13 02:13] #2 closed, assigned to nobody

[2015-01-13 02:14] #5 closed, assigned to nobody

[2015-01-13 14:54] srallen opened #6 "Finish classifier"
- [x] Implement questions and options from science team with any necessary refactoring
- [x] Add display for site location by subject
- [x] Add summary step with discuss button to talk and meta data, button to launch secondary slide tutorial about chimp identification if chimp is identified
- [x] Launch slide tutorial at first visit
- [ ] Step button click should stop video playing?
- [x] Issue wi

[2015-01-13 14:56] srallen opened #7 "Styling for site"
- [x] Styling for site location on classifier
- [x] Slide tutorial styling both general classifying and chimps identification
- [x] User profile styling
- [x] Add Infinite Scroll
- [ ] Finish responsive CSS for mobile and tablet views
- [x] Test site in IE, Firefox and fix any issues

[2015-01-13 14:59] srallen opened #8 "Content still needed"
- [ ] Home page content
- [x] Field guide content for species
- [x] Slide tutorial content
- [ ] Images for team and organizations on About page

[2015-01-13 15:01] srallen opened #9 "Translations"
- [ ] Determine hybrid solution using both zooniverse library and react translation component recommended by Brian and used on Panoptes front end.

[2015-01-13 15:26] heathv opened #10 "Missing Design Bits"
- [ ] Slide tutorial visual content
- [ ] Homepage illustrations
- [ ] Secondary page banners
- [ ] Location indicator (interface)
- [ ] Start intro button (interface)
- [ ] Loading animation

[2015-01-19 20:51] chrissnyder opened #12 "Behavior list"
This is for chimps only:

Arboreal
Terrestrial
Drinking/feeding
Resting
Traveling
Sex
Nursing
Playing
Climbing
Grooming
Social interaction
Cross-species interaction
Aggression
Tool Usage
Camera reaction
Carrying
Vocalizing
Drumming

I think there's reasonable distinction between the behaviors, but I'd be worried about how much we are going to be able to tell from a 15 second clip.

[2015-01-19 20:53] chrissnyder opened #13 "Species/behavior list order"
Feels like this should be alphabetical. It's pretty difficult to get a feel for what animals are present in the list without some form of order, and I can't think of an alternative that makes sense as much as alphabetical.

[2015-01-19 20:55] chrissnyder opened #14 "Lock main scroll position when scrolling through the field guide"
Desktop only.

When scrolling down in the field guide, if you reach the bottom and keep attempting to scroll, the main section of the page begins to scroll.

[2015-01-19 20:57] chrissnyder opened #15 "Clicking between sub sections on the About page pushes the page scroll location to the top"
Should be left at whatever the current position is

[2015-01-19 20:59] chrissnyder opened #16 "Non-logged in users "profile" page"
At the moment, just says "Please sign in".

Could we polish this up a bit? Center the text and take the opportunity to try and convince someone to create an account if they don't have one?

@heathv Thoughts?

[2015-01-19 21:05] chrissnyder opened #17 "Labels on classification interface?"
Would like to open this up for comments.

I'm personally of the mind that we need some more feedback/labels on the classification interface. Favorite button, field guide button, finish button when no annotations, and steps. They all either refuse to let you take an action, or aren't immediately obvious what action they have initiated (with the exception of the field guide button, which you learn w

[2015-01-19 21:11] chrissnyder opened #18 "Subject thumbnail loading timing"
This might become a non-issue when the loading indicator is implemented from #10. If so, please do close it.

I found it a bit jarring to either finish a subject I've annotated, or selected "nothing here" and had the previous subject's image still appear within the interface for a brief moment. I've more than once selected "nothing here" multiple times thinking the same subject was still loaded on

[2015-01-19 21:12] chrissnyder opened #19 "Data"
Process data by site into individual groups and ingest.

[2015-01-23 17:06] #15 closed, assigned to nobody

[2015-01-27 20:41] heathv opened #20 "Design Pass"
Initial design pass, more will come as the project comes closer to launch. Also: check the .psd for the Site Intro Cards layer comp for intro design.

**Global**
- [x] Make sure all buttons, texts, and footers have font-smoothing: antialiased
- [ ] Remove "A Zooniverse Project" top bar (maybe)
- [x] Top bar and nav bar should have their colors swapped (i.e., darker green for top bar, lighter for t

[2015-01-28 04:08] chrissnyder opened #21 "Preload subpage images"
Rather than waiting for a user to navigate to a page to begin loading.

[2015-01-28 19:51] #12 closed, assigned to nobody

[2015-01-28 19:56] #13 closed, assigned to nobody

[2015-01-29 21:54] #14 closed, assigned to nobody

[2015-02-12 14:13] #20 closed, assigned to srallen

[2015-02-12 14:14] #10 closed, assigned to nobody

[2015-02-12 15:03] heathv opened #22 "Design Pass 2.0"
More CSS tweaks this time 'round.
### Interface
- [x] **Location bar** Decrease the height to 40px. If we don't end up using location information it might be worth removing altogether.
- [ ] **Mouse-overs** I'd like all clickables to have some sort of mouse-over
- [x] **Image Zoom** needs to happens faster
- [x] **Image Zoom** could the enlarged image be place 90px higher?
- [x] **Img Zm close but

[2015-02-17 22:05] #6 closed, assigned to srallen

[2015-02-18 21:02] #16 closed, assigned to DarrenMcRoy

[2015-02-18 21:49] #17 closed, assigned to nobody

[2015-02-19 21:40] #18 closed, assigned to nobody

[2015-02-23 16:06] #22 closed, assigned to srallen

[2015-02-23 16:07] srallen opened #23 "Debugging and feature requests"
- [x] Tooltip functionality for field guide
- [x] Separate container scrolling while field guide is open
- [x] Add numerical selection to behavior step for non-chimps
- [x] Add preference check box to allow users to skip image previews. Save preference for logged in users.
- [x] Auto play videos when someone clicks "I see something".

[2015-02-23 16:09] chrissnyder opened #24 "Sequence of clicks breaks annotation"
1. Click an animal
2. Click a behavior
3. Click cancel
4. Click Add annotation
5. Click an animal
6. At this point, a behavior is already filled in. Click Cancel, should break the interface

[2015-02-23 16:34] #8 closed, assigned to DarrenMcRoy

[2015-02-23 16:36] heathv opened #25 "Design Pass 3.0"
**Size/Spacing Adjustments**
- [x] Spacing between green navigation container and top of the location bar: 10px
- [x] Spacing between the bottom of the location bar and top of the subject: 10px
- [x] Spacing between the bottom of the subject and top of the annotation area: 10px
- [x] Remove the "a Zooniverse project" bar
- [x] Vertically center the Cancel and Done/Next buttons within their contain

[2015-02-23 20:59] DarrenMcRoy opened #26 "Rename small-bodied primate as "other primate""
Just so that "large-bodied" monkeys like baboons are included as well.

[2015-02-23 21:38] #26 closed, assigned to nobody

[2015-02-23 22:12] #24 closed, assigned to nobody

[2015-02-24 16:37] DarrenMcRoy opened #27 "About Page Updates"
- [x] Update Organizations page
- [x] Add MPI logo and PanAf logo to Organizations page
- [x] Add Nuria's bio to About page
- [x] Add photos to About page

---

Mimi's instructions for the Organizations page:

under organizations, start with zooniverse

then the mpi for ev anthro stuff

and then a new paragraph that has
"The Pan African Programme: The Cultured Chimpanzee (PanAf), based out of the

[2015-02-24 18:40] DarrenMcRoy opened #28 "Animal names & field guide"
- [x] Re-alphabetize "Other Primate" to its proper place
- [x] Change "Small-bodied primate" to "Other primate" in field guide description
- [x] Longer names like "Small Gray Duiker" are overlapping the "back" button on the field guide... can we do something about this?
- [x] Add male, female, juvenile examples and text to Chimpanzee entry
- [x] Update male, female, juvenile examples with new imag

[2015-02-25 19:47] #25 closed, assigned to srallen

[2015-02-25 19:54] DarrenMcRoy opened #29 "Update survey link on the site"
New survey link for the site: http://goo.gl/forms/Yj5ruVRXhZ

[2015-02-26 21:32] DarrenMcRoy opened #30 "Add # to site names (order of release)"
As in, "spring-butterfly-1", "fragrant-firefly-2," etc, in order of release, so that release order of sites is clear.

[2015-02-27 19:13] #23 closed, assigned to srallen

[2015-02-27 19:34] DarrenMcRoy opened #31 "Change text on second tutorial slide"
Responding to one other piece of feedback that a few people said on the alpha (plus that there's a typo in there), would like to change the text of the second tutorial slide to the following:

---

First, scan the nine screenshots from the video. Click any one of them to inspect it more closely; click again to go back. If you think there might be an animal anywhere in the video, click "I see somet

[2015-02-27 20:05] heathv opened #32 "Mobile Design Pass"
Going to update this once I get home and try it out on my iPad Mini.

_I don't think any of these are urgent for beta_

**Home (iPhone)**
- [x]  Bump Chimp&See + paragraph up maybe 50–100 pixels, Get Started button currently hidden.
- [x]  hamberg Menu slides down fine, but disappears (rather than slide) on close

**Classify (iPhone)**
- [x] large gap under the video

![img_1220](https://cloud.git

[2015-02-27 20:32] #31 closed, assigned to nobody

[2015-02-27 20:57] #29 closed, assigned to nobody

[2015-03-02 14:47] heathv opened #33 "A couple bugs on "Skip images?""
On a return visit to the site I was given frames even though the checkbox was checked.

I also noticed that when I'm on the summary screen I can uncheck and then recheck the box and it will take me back to the classification interface. Not sure if this is really a problem or not, might be if we don't want people changing their answers.

[2015-03-02 16:03] DarrenMcRoy opened #34 "Add circular images of animals to field guide index"
Add the circular images that are currently being used as tooltips to the list of animals on the field guide, so that people have a general idea of what the names mean before clicking into them.

Circles could to to either the right or the left of the names, whichever you think looks better. Names could also be moved slightly left or right to accommodate them.

Thanks!

[2015-03-02 16:12] heathv opened #35 "Field Guide - Images in the directory"
Same circles from the tooltips (no strokes) and the text gets left aligned.

![fieldguide-images](https://cloud.githubusercontent.com/assets/4551411/6444638/86e4ee94-c0c4-11e4-9970-fd1115672924.jpg)

[2015-03-02 16:13] #35 closed, assigned to srallen

[2015-03-02 20:19] srallen opened #36 "Content updates"
- [x] Correlate and add in site location images
- [x] Add 'no more subjects' messaging
- [x] Chimp ID tutorial
- [x] Add in final home page video link
- [x] Add chimp easter egg
- [x] Remove survey link and add back in Talk (Discuss?) and Blog links after beta is done
- [x] Need about page hero image (Don't have rights for current placeholder)
- [x] Named targets for talk links
- [x] Add behavior

[2015-03-02 21:17] #34 closed, assigned to srallen

[2015-03-03 19:36] #27 closed, assigned to nobody

[2015-03-04 21:06] #28 closed, assigned to nobody

[2015-03-05 17:46] heathv opened #37 "Chimp ID 'Learn More' button returns to interface"
After ID'ing a chimp, clicking "Learn More" on the summary returns me to he classification interface when the slide tutorial pops up.

[2015-03-05 17:48] heathv opened #38 "Opening the Field Guide on Summary returns user to interface"
Opening the Field Guide while on the Summary returns me to the classification interface.

[2015-03-05 17:49] #33 closed, assigned to srallen

[2015-03-05 19:25] #37 closed, assigned to srallen

[2015-03-05 19:25] #38 closed, assigned to srallen

[2015-03-09 18:52] #7 closed, assigned to nobody

[2015-03-11 13:15] heathv opened #39 "Chimp summary — ID'ing a chimp buttons"
This should satisfy all requirements of this screen ( @DarrenMcRoy ?) and make the process a little more understandable. The two big buttons are the primary actions and the only true "buttons." The other two are now text links below the call-to-action text. In place of "learn more" I'd like to see something more along the lines of "How does this work?"

![id-chimps-btn-fix](https://cloud.githubuse

[2015-03-11 20:02] #32 closed, assigned to srallen

[2015-03-12 19:19] DarrenMcRoy opened #40 "Description changes"
- [x] Split "carrying" into "carrying item" and "carrying young"
- [x] Change "sex" to "sex/mounting"

Two requests from the team.

[2015-03-13 13:51] #40 closed, assigned to nobody

[2015-03-17 16:50] DarrenMcRoy opened #41 "Bug with "nothing here" button w/"skip images""
Hey guys, just found a little bug.

If you have "skip images" selected, once you start playing a video, the "nothing here" button reloads the same video instead of serving a new subject.

It messes up slightly differently on different browsers, but the effect is the same. (For instance, on Safari, it appears to load a new subject, but when you click play, it's the same video you were watching befo

[2015-03-17 16:55] #41 closed, assigned to nobody

[2015-03-17 19:07] DarrenMcRoy opened #42 "Add "Unidentifiable" to chimp gender options"
As the team requested, add an "unidentifiable" option for the genders, so the options are male, female, and unidentifiable.

[2015-03-17 19:22] #42 closed, assigned to nobody

[2015-03-17 19:23] #39 closed, assigned to srallen

[2015-03-25 16:12] DarrenMcRoy opened #43 "Change four button/Field Guide labels"
Confirm with the team the final buttons for "other" and "arboreal/terrestrial."

[2015-03-26 14:24] #43 closed, assigned to srallen

[2015-04-01 15:57] srallen opened #44 "Google Analytics"
Chimps needs GA code and setup.

[2015-04-02 17:44] DarrenMcRoy opened #45 "Add "cattle" as option"
- [x] Add "cattle" as species option in classification
- [x] Add "cattle" to field guide
- [x] Change tool-tip from "other" to the honey badger or genet
- [x] Add cow tool-tip to "cattle" option
- [x] Remove cow picture from "other"
- [x] Add cow picture to "cattle" in field guide
- [x] Check that classifications and field guide remain correctly alphabetized

Field guide text for cattle:

CATTLE
_

[2015-04-02 20:43] #45 closed, assigned to srallen

[2015-04-07 15:00] #30 closed, assigned to chrissnyder

[2015-04-07 15:01] #19 closed, assigned to chrissnyder

[2015-04-07 15:01] #21 closed, assigned to nobody

[2015-04-07 15:03] chrissnyder opened #46 "Group Talk links"
@DarrenMcRoy Could you create a CSV with the various Talk links the summary screen needs? I'll process it and let @srallen know where to look for those links within the data.

Last content piece for #36

[2015-04-07 15:06] DarrenMcRoy opened #47 "Series of clicks that breaks button"
A user notes that the following actions lead to a button not working properly:

Select:  ADD ANNOTATION
Select:  CATTLE
Select:  ON THE GROUND
Select:  DRINKING/FEEDING
Select:  CANCEL
Select:  ADD ANNOTATION
Select:  CATTLE
Select:  ON THE GROUND
Select:  DRINKING/FEEDING

The final click on DRINKING/FEEDING does not toggle.

A rare sequence, but perhaps indicative of a problem that might trigger

[2015-04-07 18:54] #44 closed, assigned to chrissnyder

[2015-04-07 19:54] #47 closed, assigned to srallen

[2015-04-10 14:47] chrissnyder opened #48 "Deploy to production"
As soon as #46 is added, we are good to go. Deploy to production when ready @srallen. I'll be redirecting /beta to there as well when it's up.

[2015-04-10 16:20] #46 closed, assigned to nobody

[2015-04-10 16:20] #36 closed, assigned to srallen

[2015-04-10 16:20] #48 closed, assigned to nobody

[2015-04-16 15:49] DarrenMcRoy opened #49 "Add preview image links to Chimp & See object pages"
Also on the Talk repo; this needs to be done before launch.

https://github.com/zooniverse/Talk/issues/140

[2015-04-16 20:32] DarrenMcRoy opened #50 "Series of clicks breaks "done" button"
Users are reporting that you can break the "done" button by selecting an animal and behavior, going back to the first step, selecting a different animal, then selecting the same behavior.

I can replicate in both Chrome and Firefox.

For example:

Select ADD ANNOTATION
Select LEOPARD
Select PLAYING
Select the check-mark next to STEPS (to return to first step)
Select LION
Select PLAYING

Cannot sel

[2015-04-20 13:18] chrissnyder opened #51 "Add license"
MIT

[2015-04-20 19:14] #49 closed, assigned to nobody

[2015-04-21 15:55] #51 closed, assigned to nobody

[2015-04-21 16:02] #50 closed, assigned to nobody

[2015-04-21 16:23] DarrenMcRoy opened #52 "Can't select number of humans"
Clicking "human" automatically adds the classification as "1 human."

What if there are more than 1, as there was in the last video that I watched?

[2015-04-21 16:28] DarrenMcRoy opened #53 "Add URL for blog link"
http://chimpandsee.blogspot.de/

Nothing there yet, but there will be by tonight, Mimi says!

[2015-04-21 16:41] #52 closed, assigned to nobody

[2015-04-21 16:41] #53 closed, assigned to nobody

[2015-04-22 00:33] whyte opened #54 "Map after 'human' tag missing"
Consistently there is no map after the image is tagged as human.

[2015-04-22 14:56] #54 closed, assigned to nobody

[2015-04-23 16:15] DarrenMcRoy opened #55 "Field guide scroll bar not appearing in IE... ?"
Several users have reported that the scroll bar on the field guide appears to disappear when using Internet Explorer.

http://talk.chimpandsee.org/#/boards/BCP0000008/discussions/DCP000006h?page=1&comment_id=5538e3091c59aa389200022e

Can we fix that? :-) Thanks!!

[2015-04-23 16:19] heathv opened #56 "Interface buttons stopped working"
Just encountered, but after doing a bunch of classifications the interface buttons stopped working. Video still plays, field guide opens, but thats it. Currently using Chrome 42.

Console readout below—this is what happens when i click 'nothing here', or 'add annotation'.

![screenshot 2015-04-23 11 18 21](https://cloud.githubusercontent.com/assets/4551411/7301790/87d9df30-e9aa-11e4-8814-da908cc4c

[2015-04-23 18:22] #55 closed, assigned to nobody

[2015-04-23 19:05] chrissnyder opened #57 "Open source"
Any reason we couldn't open source this, now that the proejct is live?

[2015-04-23 19:17] srallen opened #58 "Animal tooltips not appearing in IE 10 and 11"
IE bug with :before and :after on the :hover pseudo class.

See:
http://stackoverflow.com/questions/14321878/after-on-hover-does-not-work-in-ie
http://sampsonblog.com/525/ie10-gotcha-animating-pseudo-elements-on-hover

Working on work around... just notating it here.

[2015-04-23 20:24] heathv opened #59 "demo/staging site appears when searching "chimp & see zooniverse""
Not sure if its a problem, or what we could do about it, but its there.

![image](https://cloud.githubusercontent.com/assets/4551411/7306683/b9d68aa2-e9cc-11e4-95ce-397a251c45d2.png)

[2015-04-23 21:17] #56 closed, assigned to nobody

[2015-04-23 21:33] #59 closed, assigned to nobody

[2015-04-24 12:20] rjsmethurst opened #60 "Mistaking video play button for 'Nothing to See' button"
Hi all,

Issue from a couple of people trying out the site is that some of the videos are smaller than others and as you go to press the play button, the site resizes for the size of video and you accidentally click on the "Nothing here" button instead and can't go back.

Bit of an issue for the classifications. Thought I'd let you know.

Cheers, Becky

[2015-04-24 15:46] #60 closed, assigned to nobody

[2015-04-24 15:58] DarrenMcRoy opened #61 ""On the ground" button submitting extra behaviors [bad news]"
A couple of users are reporting sporadic issues with marking duikers that are "on the ground."

They say that marking a duiker (especially a red duiker, I guess?) as "on the ground" occasionally causes one of two other tags--"traveling" or "drinking/feeding" to be automatically added.

Having trouble replicating. Asking for more info. Any idea?

http://talk.chimpandsee.org/#/boards/BCP0000008/disc

[2015-04-24 16:20] DarrenMcRoy opened #62 "Tutorial popping up when it shouldn't"
The tutorial slide seems to be popping up far more often than it should (for me, it should be "never," I assume, since I've done many classifications by now).

For instance, it pops up for me every single time that I access the site by just clicking http://www.chimpandsee.org/#/classify

It usually doesn't show up if I go to the main page and then click "explore" or "get started," although a coupl

[2015-04-25 13:37] #57 closed

[2015-04-27 14:26] DarrenMcRoy opened #64 "Add "favorite" icon to profile recents"
In addition to the social media and chat icons, it would be good to have an option to favorite a video from the display of your recently-classified videos in your profile.

Enhancement, of course, but a good idea if it's quick.

[2015-04-27 14:52] DarrenMcRoy opened #65 "Add to chimp classification: "please classify each chimp individually""
It would be nice to add a little note when classifying a chimpanzee, underneath the "youth/adult" and the "male/female," etc., that says something like:

"Please add a separate annotation for each chimpanzee."

That would stop the confusion people seem to be having about there being no numbers to select multiple chimps.

[2015-04-27 15:03] DarrenMcRoy commented on #61
More reports on this. It seems like the "on the ground" button sporadically adds a bonus behavior to the classification. It doesn't just select the button... it adds (and submits) the extra behavior to your finished classification.

This is BAD because it means that people are submitting erroneous classifications by no fault of their own, which could corrupt the science.

It's extremely difficult

[2015-04-27 15:06] srallen commented on #61
I've been working on this since Friday afternoon. It doesn't have anything to do with the specific animal or behavior that is chosen, but rather how react-cursor is handling a shallow merge with the currentAnswers store. I'm reworking it and may have a fix this morning.

[2015-04-27 15:08] DarrenMcRoy commented on #61
Excellent news. Thank you for the update!!

[2015-04-27 15:36] DarrenMcRoy opened #66 "Build the list of chimp-video IDs"
On the list of important things to do for C&S: build that list of all videos IDed as having chimps for the sites that have been completed, so that the chimp-ID can be completed for those sites.

I believe @chrissnyder was going to do that sometime early this week?

Thanks!!

[2015-04-27 15:49] #61 closed

[2015-04-27 15:49] #65 closed

[2015-04-27 18:41] #62 closed

[2015-04-28 16:06] chrissnyder commented on #64
Putting this under Future Plans. Not needed now, will look at in the future sometime.

[2015-05-04 13:33] DarrenMcRoy opened #68 "Same video in the system twice with different object IDs?"
It looks like a few videos from Red Water 6 got processed and put into the system twice?

ACP00030jv and ACP00030w9 are the same video, and users say these are not the only ones.

Quia found that they appear to come from these files, with the same "EK000152.AVI" but one of them in an extra folder, or something.

IvoryCoast_TaiE/A4/TAI-E_CAM_21_0680324_0653118_2013_06_06/CHIMP/EK000152.AVI

IvoryCo

[2015-05-04 13:34] chrissnyder commented on #68
I didn't do any sort of checksum checks against the subject pool. If they included a video twice on the hard drive, then it was uploaded twice onto the site. Looks to be the case for the provided example.

[2015-05-04 13:34] #68 closed

[2015-05-06 21:20] chrissnyder opened #69 "Revisions to Chimp ID footer on summary screen"
As detailed by @DarrenMcRoy at https://docs.google.com/a/zooniverse.org/document/d/1oeYmRMfog5Vpx-oTBpcrOOYS01NcCAzjCru3uR_w7Os/edit?usp=sharing

[2015-05-07 15:34] #69 closed

[2015-05-07 21:33] chrissnyder commented on #66
Done and online at http://www.chimpandsee.org/identified-chimps/

[2015-05-07 21:33] #66 closed

[2015-05-08 19:23] DarrenMcRoy opened #70 "Some users can't scroll all the way down on the field guide"
We've had reports, almost since launch, of users not being able to scroll to the bottom of the Field Guide, getting hung up/locked up somewhere around "leopard."

http://talk.chimpandsee.org/#/boards/BCP0000008/discussions/DCP00002uo?page=1&comment_id=554d0298a77a1b50d200015b

It seems like it might just be a problem in certain browsers, but it's something I've been ignoring the sporadic reports o

[2015-05-08 20:27] srallen commented on #70
I'm using viewport units for the height which some older browsers had bugs with particularly older iOS Safari and Android browser. Could you please have the users report specifically what OS and browser with version numbers they're using (i.e. iPad 2 with iOS Safari 7.1 or Windows 7 with IE 10, etc)?

[2015-05-08 20:43] DarrenMcRoy commented on #70
On it...

[2015-05-08 20:48] DarrenMcRoy opened #71 "Twitter link has an incorrect connection"
A user points out this little thing with the Tweet button:

There is a connection shown "via @chimp" that is not the correct Twitter feed. It should be "via @chimpandsee"

That is correct; @chimpandsee is the correct feed. Tweakable?

[2015-05-08 20:54] srallen commented on #71
Where is this supposed to be? The share button for twitter just posts "Classifying on the Zooniverse!" with the talk subject link. There aren't any links going to a chimpandsee twitter account anywhere on the site.

[2015-05-08 20:55] DarrenMcRoy commented on #71
I'm not entirely sure. I thought that it might be something in the code that indicated the referral.

Let me see if I can figure out a bit more what the user is talking about...

[2015-05-09 07:23] eatyourgreens commented on #71
Might be this line in the Talk config?
https://github.com/zooniverse/Talk/blob/master/projects/chimp/config.coffee#L6

[2015-05-11 14:03] srallen commented on #71
Good catch @eatyourgreens. @DarrenMcRoy, will you open a ticket for this on the Talk repo? Thanks.

[2015-05-11 14:03] #71 closed

[2015-06-16 18:09] DarrenMcRoy opened #72 "Sound doesn't work in Safari"
Videos are playing with no sound if watched in the Safari browser. (Ironic for a African wildlife project...)

This is true both in the classification interface and on Talk.

Example: you can clearly hear the hog grunting here: http://talk.chimpandsee.org/#/subjects/ACP0002rsh -- but Safari plays it silently.

[2015-07-29 07:24] brianaharder opened #73 "Out of active subjects"
There are currently only 24 active subjects on C&S.  I'm guessing something didn't go as planned with the release of the next site?

[2015-07-29 12:17] chrissnyder commented on #73
Looks to be more from https://api.zooniverse.org/projects/chimp/groups? Admittedly even there it's starting to get low and I should probably roll out the next site in a day or so.

[2015-07-29 17:35] yshish commented on #73
Thanks, it is serious. Look at my last 6 recently classified videos.. All having the same ID.
People are getting bored..
![](https://lh3.googleusercontent.com/-cX9pV6JSqaI/VbkOMszBUAI/AAAAAAAAIPM/nmhZkMOFJVE/s912-Ic42/ysh_2015-07-29.jpg)

[2015-07-29 18:23] yshish commented on #73
We're out of data!

[2015-07-29 18:50] brianaharder commented on #73
Yup, looks like site 7 is complete now, and site 8 and 9 are still inactive.

[2015-07-29 19:10] chrissnyder commented on #73
Yep, working on this now, site 8 will be active shortly.

[2015-07-29 19:20] chrissnyder commented on #73
Site 8 coming online now, 28,661 new videos!

[2015-07-29 19:28] yshish commented on #73
AWESOME! That was fast :)

2015-07-29 21:20 GMT+02:00 Chris Snyder <notifications@github.com>:

[2015-07-29 19:30] yshish commented on #73
It looks weird, I'm still getting the same videos as before, those which
were repeating.. all from the muddy-frost-7. Is it alright?

2015-07-29 21:28 GMT+02:00 Zuza Yshish <yshishka@gmail.com>:

[2015-07-29 19:37] yshish commented on #73
After I finished 4 of them I finally started getting the new ones from
crimson-dew-8.
It seems to be solved.

2015-07-29 21:30 GMT+02:00 Zuza Yshish <yshishka@gmail.com>:

[2015-07-29 21:15] yshish commented on #73
When I return to the classification page, the old 4 repeating videos go
first and then the new data come. Not always, but most of the time. Does it
happen to you too @
*brianaharder <https://github.com/brianaharder> ?*

2015-07-29 21:37 GMT+02:00 Zuza Yshish <yshishka@gmail.com>:

[2015-07-29 21:26] yshish commented on #73
I'm not the only one with the repeating video experience after the new data set has been activated: http://talk.chimpandsee.org/#/boards/BCP000000e/discussions/DCP00009we

[2015-07-29 21:27] brianaharder commented on #73
Testing, if I refresh the classification page, 8/20 times I get the videos
from site 7, which are always the same set of 4 repeats.

On Wed, Jul 29, 2015 at 2:15 PM, yshish <notifications@github.com> wrote:

[2015-07-29 21:34] chrissnyder commented on #73
Definitely getting S7 subjects back.

@parrish Looks like the redis sets are out of sync? `https://api.zooniverse.org/projects/chimp/groups/551ff93269736d5639020000/subjects` returns subjects with a state of complete.

[2015-07-30 02:24] pmgreen opened #74 "Authentication"
I'm currently able to log in to Zooniverse as usual but not into Chimpandsee. Have tried in different browsers, etc. The 'forgot your password?' option goes to to https://www.zooniverse.org/#/reset-password, which doesn't work when one is still logged into the main site.

[2015-07-30 02:42] DarrenMcRoy commented on #74
I'd like to add that there have been a disturbing number of reports to this effect:  able to sign in on the main page, but not into certain projects.  Although it has been for a couple of different reasons.

 Question: are you using your username?  Not your email address?  Email address login only works on the main page.

[2015-07-30 02:47] pmgreen commented on #74
Yes, username, almost always via a password manager (so it's not a matter of misspellings).

[2015-07-30 16:19] parrish commented on #73
Fixed

[2015-07-30 16:29] DarrenMcRoy commented on #73
Um, not sure. People are getting dumped back to site 5 now. Including me. Are you sure... ?

[2015-07-30 16:32] chrissnyder commented on #73
It's correct. The redis sets got out of sync, and there were a couple dozen
site 5 subjects still left in the system (76) to be exact. They'll be
cleared up shortly.

On Thu, Jul 30, 2015 at 11:29 AM, DarrenMcRoy <notifications@github.com>
wrote:

[2015-07-30 16:34] DarrenMcRoy commented on #73
Cool. Thanks!!

[2015-07-30 17:21] yshish commented on #73
Still getting mf7, it looks like the 4 repeating videos as before..

[2015-07-30 17:25] yshish commented on #73
Sorry, these are different than the 4, but all are from mf7

[2015-07-30 18:00] chrissnyder commented on #73
There are still some mf7 subjects left, so it's very possible to get videos
out of that site. Try clearing cache maybe?

On Thu, Jul 30, 2015 at 12:25 PM, yshish <notifications@github.com> wrote:

[2015-07-30 18:03] yshish commented on #73
It helped! Thanks.

[2015-08-02 18:55] yshish commented on #73
There are still users who report getting mf7. Are they supposed to be displaying after 3 more days? http://talk.chimpandsee.org/#/boards/BCP0000007/discussions/DCP0000abw?page=1&comment_id=55be1340cc1b5727b5000080

[2015-08-03 12:35] chrissnyder commented on #73
If they aren't getting duplicates, then yes. mf7 has 4,883 subjects left in
it.

https://api.zooniverse.org/projects/chimp/groups/551ff93269736d5639020000/

On Sun, Aug 2, 2015 at 1:55 PM, yshish <notifications@github.com> wrote:

[2015-08-03 22:08] yshish commented on #73
Then those mf7 seems to be OK.

But there are even users getting occasional random videos more than once. For example, [jwidness](http://talk.chimpandsee.org/#/users/jwidness) had [ACP000571v](http://talk.chimpandsee.org/#/subjects/ACP000571v) and [ACP0004uys](http://talk.chimpandsee.org/#/subjects/ACP0004uys) twice each. She thought this was a problem related to running out of active videos, but

[2015-08-04 14:28] chrissnyder commented on #73
The duplicates problem is something that keeps plaguing us, which I don't
think we'll have a solution for in the near future. Possibly clearing
cache/history and relogging in might help, but no guarantees.

And yea, crimson dev should have plenty of videos (about 20,000!)

On Mon, Aug 3, 2015 at 5:08 PM, yshish <notifications@github.com> wrote:

[2015-08-04 14:30] yshish commented on #73
Yeah, I've noticed it in other projects too :/ Hopefully it won't affect the results much. Thanks!

[2015-08-05 13:19] chrislintott commented on #74
I get the same problem on Chrome 44.0.2403.125.

[2015-08-12 05:15] anselmbradford opened #76 "Please provide useful Readme and project description"
What is it? The masses want to know. Please provide more comprehensive Readme documentation. See https://github.com/cfpb/open-source-project-template for inspiration.

[2015-08-12 19:41] srallen commented on #72
Safari uses Quicktime for its codec support and so what is supported is varied on the OS X and Quicktime version that is installed. Those who are experiencing this could either use a different browser that isn't dependent on Quicktime (Firefox, Chrome) or could try installing a codec pack for Quicktime like Perian (at their own risk!).

[2015-08-12 19:41] #72 closed

[2015-08-17 16:47] DarrenMcRoy opened #79 "Field guide update to mention viverrids"
A few updates:

CHANGE "SMALL CAT" TO:

Several species of small felines can be found in Africa, including the caracal, the serval, the African golden cat, and the African wildcat. Any cat smaller than a leopard or a cheetah can be classified as a "small cat." Please note that viverrids, like civets and genets, are not cats, and should be marked as "other."

CHANGE "OTHER" TO:

Mark any animal tha

[2015-08-17 18:16] chrissnyder commented on #79
:+1:

[2015-08-17 19:56] #70 closed

[2015-08-17 19:56] #74 closed

[2015-08-17 19:57] #73 closed

[2015-08-17 22:08] jwidness opened #80 "Lingering Shape site location map not displaying"
After classifying lingering shape videos, instead of seeing the site location map, I just get a broken image icon.

[2015-08-18 13:46] chrissnyder opened #81 "Create site 9 discussion board"

[2015-08-18 13:53] #81 closed

[2015-08-18 15:44] srallen commented on #79
This is in production.

[2015-08-18 15:44] #79 closed

[2015-08-18 16:06] srallen commented on #80
Fixed in 99769a3d34f37406ddcc814234556d523095fe3f

[2015-09-07 15:32] jwidness opened #82 "Crimson Dew has -1 active videos"
Yay CD is complete : )
But for some reason it has -1 active videos -- probably not a real problem, but maybe it indicates a bug somewhere?

[2015-09-26 19:44] yshish commented on #72
Not Safari but Chrome on Yoga tablet. I can see the symbol for turning sound on/off, I can click on it but with no difference. It even doesn't allow me to set the volume. The sound works everywhere out of Chimp&See. Is it the same issue as the one reported on Safari?

[2015-09-28 14:15] srallen commented on #72
@yshish, it may not exactly be the same issue, but may be similar in that whatever version of Chrome and Android is on your tablet may be missing the codec to play the audio properly. Since it's possible it's not a similar issue, though, could you open a separate issue ticket for this and include the Android version for your tablet?

[2015-09-28 14:30] yshish opened #83 "There's no sound during video playback on Lenovo Yoga tablet, in Chrome"
There's no sound during video playback on Lenovo Yoga tablet, using Chrome. I can see the symbol for turning sound on/off, I can click on it but with no difference. It even doesn't allow me to set the volume. (I can hear any sounds out of Chimp&See).

[2015-09-28 14:30] yshish commented on #72
Done! Thanks.

[2015-11-23 15:56] srallen opened #85 "Update guide markup"
As noted in #84, markup for guide will be updated to accommodate confused pairs.

[2015-11-23 20:18] srallen commented on #85
@jwidness, #84 and #86 containing the markup changes and links for the field guide is now deployed to production. Please let me know if anything else is needed.

[2015-11-23 20:18] #85 closed

[2016-01-02 13:37] ksigler commented on #9
The Chimp & See team has many people interested in translating the project and would like to move forward.  Is this solution still possible?  Thanks!

[2016-01-04 15:31] srallen commented on #9
We'll need to do some research and testing to find out if the react translate component is what we'll need to use to make the translations work and/or the best solution for this. I'm not sure when we'll have time to do this though since we have several high priority projects this month. I'm pinging @trouille so she's aware that the science team is requesting this.

[2016-02-03 01:13] jwidness opened #94 "Dry Lake is running low on subjects"
Just wanted to make sure that someone is on top of it :)

[2016-02-03 16:43] srallen commented on #94
Yes, @astopy is working on it.

[2016-02-15 17:10] astopy commented on #94
New data is up now.

[2016-02-15 17:10] #94 closed

[2016-02-15 17:34] AnLand commented on #94
There seems to be a problem with the newly loaded videos in the "Recents". Video format is not supported.

[2016-02-15 17:38] AnLand opened #95 "Newly loaded videos - not supported in "Recents""
There seems to be a problem with the newly loaded videos in the "Recents". Video format is not supported.

[2016-02-15 17:46] srallen commented on #95
Looks like the Recent subjects array is returning empty for the new subjects. Video encoding doesn't appear to have any relation.

[2016-02-15 17:52] AnLand commented on #95
Can you do anything? Message says (in German) no supported videos are found.

[2016-02-15 17:54] srallen commented on #95
Yeah, it's falling back to the error message for the html video tag, which I made to be about video format. But, the call for Recents isn't returning SubjectsForRecent, so the video sources aren't being set. I'm taking a look at it now to make sure it isn't something in the front end code.

[2016-02-15 18:00] jwidness commented on #94
Thanks!  This should keep us busy for a very long time!

[2016-02-15 18:01] jwidness commented on #80
Same problem again for lingering shape part 2.

[2016-02-16 11:01] astopy commented on #95
I think I know what's causing this. I should have it fixed today.

[2016-02-16 13:57] astopy commented on #95
Recents should be working again now.

[2016-02-16 13:57] #95 closed

[2016-02-16 17:33] AnLand opened #96 "Screenshots (No. 0 to 15) unavailable"
Sorry, another issue with the new videos (but it worked yesterday!), the screenshots are unavailable at least for Dawn Bird. These are crucial for the discussion boards. Could somebody look into that, please?

Error message:
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>285C9EC908A96E45</RequestId><HostId>Jcz/QuOr7EjOmeTykf5/lsNerWxKtVMGg1zHfqzfSoxaknfiqQWZ/Qtqzi/nl5fw

[2016-02-16 18:08] mimiarandjelovic commented on #9
We are definitely really interested and ready to go if this can become a reality.

[2016-02-16 19:31] yshish commented on #80
And for current DryLake data too!

[2016-02-16 20:06] srallen commented on #80
The second lingering shape group is fixed. Dry Lake appears to have a different issue with getting the map. Still working on it.

[2016-02-17 12:08] yshish opened #98 "Getting repeated videos"
I have been getting the same videos to classify more than once. Usually they come in random but once I got the same one twice in a row.
I can't tell how many times it happened since I mainly get videos with no animals present.
I noticed other volunteer complaining about the same.

Some examples:
 - http://talk.chimpandsee.org/#/subjects/ACP00062ny
 - http://talk.chimpandsee.org/#/subjects/ACP0007k

[2016-02-17 15:44] astopy commented on #96
Could you let me know what URL gave you that error message?

Thanks.

[2016-02-17 15:46] AnLand commented on #96
Here an example.
URL: https://static.zooniverse.org/www.chimpandsee.org/subjects/56c1e2e2cf00ff2466008438/previews/56c1e2e2cf00ff2466008438_10.jpg

Error message: "<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>C26B811FABC9FDAC</RequestId><HostId>lmIpEqJK9ewj3/5jg/9SIRaQlKmbMtOZ3oAy29xqsjn6vCaNZOJghlfk1kpkLc4n</HostId></Error>"

[2016-02-17 15:59] astopy commented on #96
Thanks. It looks like the subject ID in the URL isn't valid -- we had an issue with some of those being generated incorrectly, but I thought I'd corrected them all. Where did you see that one?

[2016-02-17 16:05] yshish commented on #96
It seems to be a problem of DawnBird location videos http://talk.chimpandsee.org/#/subjects/ACP0007hym or http://talk.chimpandsee.org/#/subjects/ACP0007hia
and of LingeringShape videos
http://talk.chimpandsee.org/#/subjects/ACP0007esg

because DryLake screen shots do work for me.

[2016-02-17 16:09] AnLand commented on #96
It seems to be a problem of all newly loaded videos. Interestingly, it worked on Monday e.g. for this video (I posted screenshots), but even here it does not work anymore: https://static.zooniverse.org/www.chimpandsee.org/subjects/56c1e266cf00ff2466006dbe/previews/56c1e266cf00ff2466006dbe_12.jpg Message: <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>85DD944A9E818DD0</R

[2016-02-18 15:17] yshish commented on #98
It happened again, twice in a row with this video: http://talk.chimpandsee.org/#/subjects/ACP0007iu9

There was a problem with finishing the classification: when I clicked on the FINISH button after I classified it for the 2nd time, nothing happened. Like if I weren't allowed to do a duplicate classification. The page didn't take me to the location map page but stayed on the video. I tried the but

[2016-02-18 15:27] srallen commented on #98
Thanks for the info @yshish, sounds like a bug with the classification submission. When this happens, could you check the browser console for errors and let me know what you see?

[2016-02-18 17:00] yshish commented on #98
It has just happened again! It is a video I classified 2 days ago, and now it came twice in a row again:
http://talk.chimpandsee.org/#/subjects/ACP0007fml

Here is the browser console screenshot after clicking on the Finish button:
![](https://lh3.googleusercontent.com/-A_QHtvz3TwI/VsX4SLfpiII/AAAAAAAAIvw/A9OtfddNMbI/s0-Ic42/ysh_2016-02-18.jpg)

Hope it is helpful.

[2016-02-18 17:07] srallen commented on #98
Yes, thank you! That should be enough for me to begin debugging.

[2016-02-18 17:09] yshish commented on #98
Not sure you need it, but more details here:
![](https://lh3.googleusercontent.com/-JifEp2lRYR4/VsX6VxgrC8I/AAAAAAAAIwI/_soWsuGe-qQ/s912-Ic42/ysh_2016-02-18_1.jpg)
![](https://lh3.googleusercontent.com/-8c2vWan_-0I/VsX6VyRmFBI/AAAAAAAAIwQ/a68jGPMq5x0/s912-Ic42/ysh_2016-02-18_20.jpg)
![](https://lh3.googleusercontent.com/-aKNE_MgQctk/VsX6WG4HpkI/AAAAAAAAIwM/niaNkvcAyYE/s912-Ic42/ysh_2016-02-18_21.j

[2016-02-18 21:13] srallen commented on #98
I fixed `Uncaught TypeError: Cannot read property 'statusMessage' of undefined` but what message we're getting back from the API is an out of subjects response which obviously is incorrect.

[2016-02-18 21:22] srallen commented on #98
@yshish Could you let me know if you have any more issues getting to the summary (location map) page? I've been running through a few classifications myself and I think fixing the status message fixed that too, but we shouldn't be getting out of subjects responses.

[2016-02-19 18:57] jwidness commented on #98
I'm not sure if this is related, but [this video](http://talk.chimpandsee.org/#/subjects/ACP00083dp) made it to the official chimp video list and pretty clearly does not contain a chimp.  Do you think this bug could have allowed one person to classify it chimp multiple times?

[2016-02-19 19:06] yshish commented on #98
I think it could. From my experience, it always counts each classification when repeated.
@srallen can you check this one, please?

BTW, I haven't experienced any repeats since your last post, but I wasn't as active today. I'll let you know if something happens.

[2016-02-19 19:13] srallen commented on #98
Yeah it's possible if someone ran into the bug that @yshish documented and clicked Finish multiple times. I don't think we're seeing duplicate subjects being served up, but rather duplicate classifications were being sent. I think fixing the status message fixed this duplicate classification issue.

Unfortunately that means there was a period of a few days where there are duplicates in the raw cla

[2016-02-19 19:25] AnLand commented on #98
Interestingly in the video, @jwidness posted, the classification count (11) does not match the counter of the classifications: blank (3) and chimpanzee (10).

[2016-02-19 20:34] AnLand commented on #98
@srallen Now, I had this video http://talk.chimpandsee.org/#/subjects/ACP00084qp for classification. I classified once. Got it immediately again, the "Finish" button was stalled and I hit him several times. Now I have this video in my "Recents" 12 times and the classification counter is at 12. So I did all these classifications on this video. I hit (for testing) the Finish button two more times an

[2016-02-19 20:45] yshish commented on #98
It is exactly what was happening to me.

[2016-02-19 21:07] srallen commented on #96
@astopy I think there are some subjects that still have ID issues. I just came across this subject while trying to debug some other issues that is getting access denied errors on Talk as well as some 403 errors in the console for the classifier itself:

[code]

Talk subject page: http://talk.chimpandsee.org/#/subjects/ACP00084qp
preview images 4-15 get access denied errors

[2016-02-19 21:21] srallen commented on #96
Another that fails with its previews and video: http://talk.chimpandsee.org/#/subjects/ACP0007gg1

403 errors in the classifier and these on Talk:

`Failed to load resource: the server responded with a status of 403 (Forbidden)`
for https://static.zooniverse.org/www.chimpandsee.org/subjects/56b1efa18f7532000190381c/previews/56b1efa18f7532000190381c_0.jpg

`Failed to load resource: the server respo

[2016-02-19 21:24] srallen commented on #98
@AnLand thanks for letting me know. If it happens again, could you open up your browser console and let me know what errors you see? Thanks.

[2016-02-20 10:48] AnLand commented on #98
@srallen It happened again with this video: http://talk.chimpandsee.org/#/subjects/ACP0007k3s
I classfied once, got it a second time immediately and the Finish button was stalled. My classifications counted all I tried a bit and subject is now retired (but at least somebody else also classified and said 'blank').

**TypeError: Subject.current is null
http://www.chimpandsee.org/main.385b6d93989a517

[2016-02-20 13:15] mimiarandjelovic commented on #98
Hi - Can we re run the videos once this bug is fixed please? otherwise we won't be able to use the output data, Should we maybe pause classifications until it is fixed?

[2016-02-20 16:02] srallen opened #101 "Getting Subject 'no-more' response"
Occasionally calling `Subject.next()` is getting a no more subjects response. This is incorrect since several new subject groups have been processed and are uploaded. The no more subjects response only started happening when the new subject groups were uploaded and activated. It is related to the duplicate subject and duplicate classification issue in #98. Maybe possibly related to the bad subject

[2016-02-20 16:06] srallen commented on #98
@mimiarandjelovic and @AnLand, I've cleaned up some of the code in the summary and with the social media sharing component and this should at least enable the summary to be loaded when `Subject.current` is null, but the talk link will be broken. I've opened up #101 and pinged some other developers about the out of subjects response since we shouldn't be getting that response and I think it's relat

[2016-02-20 18:10] yshish commented on #98
This is what my browser console says while classifying (while there is no repeating experience), is it OK?
![](https://lh3.googleusercontent.com/-2geMljb1apw/VsirkqLF-GI/AAAAAAAAIws/IF2ybWhqqKY/s0-Ic42/ysh_2016-02-20_18-49-02.png)
And when I want to discuss the video, it gets me here: http://talk.chimpandsee.org/#/subjects/null

[2016-02-21 03:11] jwidness commented on #80
I'm now not getting maps for either lingering shape or dawn bird -- I haven't had any dry lake videos in a while, can't comment on that.

[2016-02-22 03:36] jwidness commented on #98
I got the out of data message, but the console didn't show the same errors.
<img width="960" alt="error" src="https://cloud.githubusercontent.com/assets/13769652/13208812/b929d2b8-d8ea-11e5-9a1c-427c3083c94c.png">

[2016-02-22 15:16] srallen commented on #80
@jwidness, the maps are fixed. The most recent issue with them was my mistake when working on the site this weekend, but it's fixed now.

[2016-02-22 15:16] #80 closed

[2016-02-22 15:18] srallen commented on #98
@jwidness, do you have a browser plugin that blocks google analytics? Those errors are just reporting that your browser is blocking the google analytics that is setup. I've opened a separate issue, #101, for the incorrect out of subjects response.

[2016-02-22 15:20] jwidness commented on #98
Yes, sorry, those messages were definitely from my extensions.  I just meant that I wasn't getting the errors that @yshish was reporting.

[2016-02-22 15:21] jwidness commented on #98
I don't know whether this is relevant or not, but the video was one I marked "Nothing here" on.  Not sure what the changes about the code.

[2016-02-22 15:24] jwidness commented on #98
I suppose I could also say that I'm sure it added two "blanks" to the counters on the video -- one for each time I clicked "Nothing here".

[2016-02-22 16:24] srallen commented on #98
Clicking "Nothing here" creates and saves a classification with a "nothing here" annotation and immediately calls for the next subject. Today, I'm going to work on making sure the old video and images do not display if an out of subject message returns.

[2016-02-22 16:29] yshish commented on #98
I haven't experienced any repetitions since the fix but then I got this video today http://talk.chimpandsee.org/#/subjects/ACP0007ey9  to classify for the second time although I did classify it 3 days ago already - as you can see there is my comment with the tags from Feb 19th.

As it wasn't repeated in a row, the Finish button did no problems and the browser console showed no errors. This kind of

[2016-02-22 17:00] yshish commented on #98
Another repeating reported by Boleyn 2 minutes ago: http://talk.chimpandsee.org/#/subjects/ACP0007p0n

[2016-02-22 17:53] parrish commented on #101
This should be fixed now.  A group had completed, but hadn't properly changed state.

[2016-02-22 17:53] #101 closed

[2016-02-22 19:06] srallen commented on #98
Ok, the out of subjects issue is fixed and I think I've done enough refactoring to fix the issues with the summary page to fix the issues of the next subject loading. I'll leave this open still in case there are any more reports related to the initial error reports.

@yshish those kind of duplicates will be harder for us to track down and it sounds like those kinds of duplicates are unrelated to t

[2016-02-22 19:14] yshish commented on #98
Cool. Thank you!

Actually the last mentioned repetition is the same type as I started this issue thread with (see the list of 5 examples of repeating in my first post). We started talking about the other type (two repeating videos in a row with a Finish button problem) in the 2nd post :)

Anyway, shall I create a separate issue thread for those complicated you are not able to solve now or keep th

[2016-02-22 19:19] srallen commented on #98
Yeah I'd like to have a separate issue for duplicate subject that aren't breaking the interface -- it helps me keep better track. Getting truly duplicate videos in the queue is from a different unknown cause than from the issues that ended up being discussed here such as the broken summary page and out of subjects error. Thanks.

[2016-02-22 19:34] yshish opened #103 "Getting duplicate subjects, come in random, don't break the interface"
Some videos come to be classified more than once by the same user. They come in random (for example 2 days after the 1st classification) and the browser console shows no errors. We recognize them due to the comments we made after the 1st classification. It is an old problem which happens to various volunteers.

Some examples:
http://talk.chimpandsee.org/#/subjects/ACP00062ny
http://talk.chimpandse

[2016-02-22 19:59] yshish commented on #103
I created a tag group for them http://talk.chimpandsee.org/#/collections/CCPL0000o9
It will collect all videos hashtagged with 'repeated'.

[2016-02-24 17:22] AnLand opened #104 "Comments and discussion posts disappear"
Since roughly 40 minutes, comments and discussion posts on talk are not recorded. No error message, people probably don't even recognize. Is that a temporary problem?

One can write the comment and submit. It is displayed on Talk (video or discussion board) and gone if one refreshes the page.

Could you look into it if that is not a maintenance(?) problem.

[2016-02-24 17:28] yshish commented on #104
After sending a comment - it appeared when I clicked on the Send button (but as I got away from the page, it disappeared).

![](https://lh3.googleusercontent.com/-0CR6mB1zCnQ/Vs3nrNt4PBI/AAAAAAAAIyo/0qaAr8BZiJk/s0-Ic42/ysh_2016-02-24_18-22-05.png)

[2016-02-24 18:00] AnLand commented on #104
The problem seems to be solved. If this was a planned or anticipated maintenance problem, maybe there could be an announcement beforehand, so we could announce this as well on Talk and nobody will get irritated. Thanks a lot!

[2016-02-24 19:23] srallen commented on #104
@AnLand we have a [status page](https://status.zooniverse.org/) that was recently put in place. You can also subscribe to the status email list from that page.

I'm not sure what happened this morning with Talk since there was no known maintenance that I'm aware of. Because of this, I'll leave this ticket open for now since we don't know what the cause is.

[2016-02-24 19:24] srallen commented on #104
Oh and just so it's clear, Chimp & See is on "the previous generation projects and talk (Ouroboros)" system.

[2016-02-24 19:25] srallen commented on #98
Closing since there hasn't been any more reports of broken interfaces.

[2016-02-24 19:25] #98 closed

[2016-02-26 12:56] astopy commented on #96
@srallen For ACP00084qp those aren't the right preview links... which page did those URLs come from? (The talk page seems to have the right ones.)

Not sure what's happened with ACP0007gg1. Looking into that now.

[2016-02-26 15:21] srallen commented on #96
@astopy, for ACP00084qp I grabbed those errors from the console when the classifier got stuck loading the subject in the classifier itself. When I saw that happen, I checked its talk page and was getting access  denied errors there too, but checking today it looks like they're working now.

[2016-03-01 03:10] jwidness opened #105 "Future site videos up"
Cold Fire and Restless Star videos are showing up in classification -- I sort of assume this isn't on purpose since Dawn Bird doesn't seem close to done yet.  Any way we can get these taken out of the active pool?

For reference, http://talk.chimpandsee.org/#/subjects/ACP000b84i is a cold fire video that came up, and http://talk.chimpandsee.org/#/subjects/ACP000bvqj is a restless star video that c

[2016-03-02 00:03] ksigler opened #106 "Favorite button on classification screen not saving to Favorites"
We've had this issue before, I believe.  When you click the "heart" button to favorite a video during classification, it changes color, but the video isn't saved to Favorites.  Using the Talk function to save a clip to the Favorites collection works as it's supposed to.  [Discussion thread with more detail is here](http://talk.chimpandsee.org/#/boards/BCP0000008/discussions/DCP00000fb), with the p

[2016-03-02 10:20] astopy commented on #105
This is working as intended. There are currently 17,984 active subjects in Dawn Bird. To keep the minimum of 20,000 active the system has activated new groups.

[2016-03-02 10:20] #105 closed

[2016-03-02 18:15] jwidness opened #108 "Mouseover image on small grey duiker during classification is wrong"
The image is actually of a bush duiker.

[2016-03-04 00:58] ksigler opened #109 "Incorrect range shown on map image"
The summary screen map for our current site is incorrect.  It doesn't show the full range of the species of chimps we're currently working with.  Can this be corrected, please?

The map is for region D, as seen here https://github.com/zooniverse/Chimp-Zoo/blob/master/public/assets/summary/site-d.jpg

The correct range for P.t.schweinfurthii is the gray area (with & without red stripes) seen here:

[2016-03-07 16:37] srallen commented on #109
@jwbmartin do you have time this week to correct the image for the site location? I see the original illustrator file in [creative cloud](https://assets.adobe.com/files?location=https%3A%2F%2Fcc-us1-prod.adobesc.com%2Fapi%2Fv1%2Fcollections%2F907d990a-3948-4ce0-9be1-bd25f925fc62) at that URL.

[2016-03-07 16:39] jwbmartin commented on #109
@srallen @ksigler Yeah I can totally do that (also yay I get to work on maps!)

[2016-03-07 20:35] srallen commented on #108
@jwidness Could you let me know what image should be used for the small grey duiker? It's the same image in the field guide too:
![screen shot 2016-03-07 at 2 33 36 pm](https://cloud.githubusercontent.com/assets/5016731/13582401/bca373da-e471-11e5-9630-d38e0a7c077d.png)

[2016-03-07 20:40] jwidness commented on #108
The first image in the field guide looks the most like what we get on camera (for obvious reasons).  I could find another image for the mouseover if you'd prefer something else, though.  I didn't notice the full image of the bush duiker there in the field guide -- could you take that out while you're at it?  Thanks so much!

[2016-03-07 21:17] srallen commented on #106
Looks like something is broken. I'm able to replicate, but it isn't obvious what the issue is since there aren't errors in the browser console. I'll have to do some digging to figure it out.

[2016-03-08 15:10] srallen commented on #108
@jwbmartin Could you update the sprite image we use for the field guide?:
https://github.com/zooniverse/Chimp-Zoo/blob/master/public/assets/chimps-tooltips-sprite.jpg

The small gray duiker (as seen above in the tool tip) needs to use a crop from the first image from the guide:
https://github.com/zooniverse/Chimp-Zoo/blob/master/public/assets/guide/sm-gray-duiker-1.jpg

I found the original psd on

[2016-03-08 17:40] #108 closed

[2016-03-08 17:54] jwidness commented on #108
Thanks!

[2016-03-08 20:21] #109 closed

[2016-03-08 20:26] jwidness commented on #109
Looks great, thanks!

[2016-03-08 20:30] srallen commented on #96
I found another subject with broken previews:

http://talk.chimpandsee.org/#/subjects/ACP000ck02

Images 9-15 get access denied errors.

[2016-03-08 20:32] AnLand commented on #96
@srallen But the video is only 8 seconds long here. The other screenshots cannot be available.

[2016-03-08 20:35] srallen commented on #96
@AnLand good catch. The videos should be 15s long, so that means something went wrong with the encoding of this one?

[2016-03-08 20:37] AnLand commented on #96
Don't think so, the field team might have changed the SD card and "interrupted" the recording with this. (My interpretation.)

[2016-03-08 20:40] srallen commented on #96
Ok, the front end client is expecting at least 9 images to use for the previews, so we may want to either fix the subject so that there's at least 9 or I could modify the front end to show a placeholder if 9 images are not available. I'd rather do the former than the latter if possible.

[2016-03-09 11:07] astopy commented on #96
Yeah, in this case the original video must have been shorter than normal. If the encoding had failed there’d be no previews at all I think. (Though saying that there are almost certainly others which are broken that we haven’t found yet; I’m still working on a fix for that.)

I’m not sure if generating more images for short videos is really viable — assuming it’s not just this one, we’d have to so

[2016-03-09 11:31] AnLand commented on #96
@astopy and @srallen: occasionally videos are shorter than 15 seconds, mostly - as far as I can see while classifying - when the field team is maintaining the camera and stops recording. I do not know whether one can see in the video structure in which videos that might be the case and filter them out. But yes, there are several of them.

[2016-03-09 15:32] srallen commented on #96
@AnLand Ok, I'll think I can at least add in checking the length of the array of previews and making sure there is at least 9 and if not, adding in a placeholder. The interface gets stuck on the loading spinner with this particular subject since there were only 8 previews.

Would a placeholder like this be ok?:

![placeholder-example](https://cloud.githubusercontent.com/assets/5016731/13640321/cb5

[2016-03-09 15:45] AnLand commented on #96
@srallen Yes, that would be great. (I talked to the science team, they agree, too.)

[2016-03-09 16:56] AnLand opened #112 "Comments stuck"
Comments stuck both in recents (video comments) and at the discussions board (since an hour probably). Talk should be operational and classification works too. Not sure about error message.

Button grays out and nothing happens.

[2016-03-09 17:08] yshish commented on #112
browser consoles shows many errors of this type: *Failed to load resource: the server responded with a status of 404 (Not Found)*

[2016-03-09 17:08] AnLand commented on #112
Error message:

403 Forbidden
		20ms
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"

<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satisfied</TITLE>
</HEAD><BODY>
<H1>ERROR</H1>
<H2>The request could not be satisfied.</H2>
<HR noshade size="1px">
This distribution is

[2016-03-09 17:12] yshish commented on #112
The same problem is on the Science Gossip Talk..

[2016-03-09 17:18] yshish commented on #112
After trying to post a comment on Chimp, the console shows:
*Failed to load resource: the server responded with a status of 403 (Forbidden)*

and when I try to post a comment or to collect an image (it doesn't work either) on SG, it shows:

*POST http://www.sciencegossip.org/_ouroboros_api/projects/illustratedlife/talk/collections/CSCS00008q/add_subject 403 (Forbidden)u.ajaxTransport.c.send @ api-

[2016-03-09 17:19] eatyourgreens commented on #112
Pinging @astopy and @camallen since CloudFront is rejecting the request when you post a new comment.

[2016-03-09 18:06] jwidness commented on #112
This looks like it might be a bigger problem -- I checked the status page and no classifications have been recorded for the last 2 hours.  I then went to classify a video (happened to be a red duiker), and it has no red duiker counters on it after my classification.  ACP000cc3d

[2016-03-09 18:09] yshish commented on #112
It affect more old project Talks like Penguins and SG but not Kelp nor Plankton.

[2016-03-09 18:14] camallen commented on #112
This is a problem affecting our old API infrastructure, we're working on it.

[2016-03-09 18:20] camallen commented on #112
see https://status.zooniverse.org/ for more information.

[2016-03-10 10:30] camallen commented on #112
this was resolved, see the status site for more details.

[2016-03-10 10:30] #112 closed

[2016-03-12 11:34] yshish opened #114 "As a mod I'm unable to remove a post with a wrong hashtag by another user"
There is a comment with a wrong tag http://talk.chimpandsee.org/#/subjects/ACP000bcdh (the 2nd one from the bottom, by user Dana23) I'm unable to remove as a moderator. Browser console is showing an error. I tried to remove this post a couple of time during this week but it has never worked.
(I remember experiencing such a problem in PW and PP a year ago, not sure whether it was solved somehow. Th

[2016-03-12 11:59] yshish commented on #114
To make things clearer, I am unable to remove just that single post. I can remove others without a problem.

[2016-03-16 22:14] ksigler opened #116 "Identified chimps list now has mixed content, won't load"
Since the switch to https, our [identified chimp list](https://www.chimpandsee.org/identified-chimps/) no longer works without adjusting browser security settings.

Error:

main.63aaa2.js:1 Mixed Content: The page at 'https://www.chimpandsee.org/identified-chimps/' was loaded over HTTPS, but requested an insecure resource 'http://www.chimpandsee.org/identified-chimps/[redacted]'. This request has

[2016-03-17 09:14] ksigler commented on #116
Closing issue - will contact Adam directly.

[2016-03-17 09:14] #116 closed

[2016-03-21 11:49] astopy commented on #96
The subject ACP0007gg1 seems to have been created from a video which ffmpeg can't decode, so I assume the original file was just corrupt somehow. I've updated the scripts so database entries won't be created to corrupt files next time

I've run a script against every subject in the database to find any other similar subjects. There were twelve in total (including ACP0007gg1, so three original vide

[2016-03-21 14:16] srallen commented on #96
@astopy Just curious about the errors you were getting with the corrupted videos. I'll be processing videos for Mammoth Bats soon and have used ffprobe with them and had a few videos with some unusual log messages. What kind of errors did these have so I know what to look for?

[2016-03-22 14:14] astopy commented on #96
Sure, this is the error:

[code]

[2016-03-22 14:57] AnLand commented on #96
@astopy Please delete file name from error message. Thanks!

[2016-03-22 15:01] astopy commented on #96
@AnLand Oops, sorry, I've edited it now.

[2016-03-23 01:56] ksigler opened #117 "Mixed content (http/https) causing some screen elements to not load"
I mentioned this before in  #116 but that specific issue was resolved.  Unfortunately, the mix of secure and insecure content is now affecting different areas of the site.  Specifically, the paging control on collections on the Talk pages, as well as the video skin.  There is a discussion about it among users [here](https://talk.chimpandsee.org/#/boards/BCP0000009/discussions/DCP0000wuv).  Just br

[2016-03-23 10:54] astopy commented on #117
Ideally we should fix all of those, but it'll just be the first two blocked requests that are causing the problems:

[code]

I'll have a fix for that shortly.

[2016-03-23 10:57] #117 closed

[2016-04-04 15:31] AnLand opened #120 "FAQ button disappears under animated chimp"
I am not sure whether it is only me, but it is impossible to click the new FAQ button in the nav bar as it disappears under the animated chimp when moving over that space. Why we don't replace the "FAQs" button (and link) within the upper black bar (that goes to a crowded discussion board!) with the link to the actual FAQ posting?

[2016-04-04 15:39] srallen commented on #120
@AnLand Could you let me know what browser and device you're seeing this issue with the link on? Also, possibly upload a screenshot?

[2016-04-04 15:46] AnLand commented on #120
MacBook Pro, 13'', Mozilla Firefox (same in Chrome, I tried)

![bildschirmfoto 2016-04-04 um 17 42 07](https://cloud.githubusercontent.com/assets/7421089/14253757/15b5b812-fa8d-11e5-8783-5e3db890ee1e.jpg)
![bildschirmfoto 2016-04-04 um 17 41 56](https://cloud.githubusercontent.com/assets/7421089/14253758/15b8c55c-fa8d-11e5-8141-0df36f68c73f.jpg)

[2016-04-04 16:04] #120 closed

[2016-04-06 13:48] jwidness opened #122 "After a chimp video, "Site Chimp ID Board" button doesn't work -- fix included"
After you classify a video as containing a chimp, the summary page has a button labeled "Site Chimp ID Board" (see image).  This button doesn't go to the ID boards for cold fire or restless star.  I'm assuming the fix is to make the field "known_chimps_link" go to the correct URL.  So we should have for restless star "new_chimps_link":"http://talk.chimpandsee.org/#/boards/BCP000000q" and for cold

[2016-04-12 12:47] astopy commented on #122
These have been added now (along with the known chimps links for both groups).

[2016-04-12 12:47] #122 closed

[2016-04-12 12:56] jwidness commented on #122
Thanks!

[2016-04-22 16:08] AnLand opened #123 ""This Type of Video File is Not Supported""
Hi, several users complaint recently that videos are not playing. Message: "This Type of Video File is Not Supported". A particular problem seems to be the Edge browser of the current Windows version. Could you please look into that and maybe give advice (if cannot be solved)? Thanks!

[2016-04-29 18:08] shaunanoordin commented on #123
Issue: Edge browsers on Windows 10 cannot play videos on Chimp & See.
Analysis: Edge does not like the C&S videos to be from a HTTP source.

Changing the video player code from...
[code]
...to...
[code]
...allows the video to be played.

Note that there is **no issue** with the MP4 file itself, despite the "This Type of Video File is Not Supported" message; this can be tested by downloading the MP

[2016-05-04 13:35] AnLand opened #124 ""We're out of data" message wrongly displayed"
Hi! While classifying I get the "We're out of data" message displayed repeatedly. We're not out of data. Refreshing the page brings new videos for a while. I emptied my cache and started Firefox anew repeatedly. Is there any problem with the site?

I cannot say whether other people have the same problem, but we have suspiciously few classifications today.

[2016-05-04 14:00] yshish commented on #124
Yes, it is a known problem which affects several volunteers in old projects.
It has been reported under PP https://github.com/zooniverse/planktonportal/issues/52 and then here: https://github.com/zooniverse/planktonportal/issues/31
@srallen was looking at that.
I was experiencing it very often (daily) for several months. I don't classify much lately so I can't tell whether something has changed fo

[2016-05-04 14:07] AnLand commented on #124
Can it be that we are out of data for Cold Fire? (Or any other problem with this site?)

[2016-05-04 14:12] AnLand commented on #124
Error message: "Laden von gemischten aktiven Inhalten "http://zooniverse-demo.s3-website-us-east-1.amazonaws.com/projects.js?_=1462370978392" wurde blockiert." (Mixed content ...)

https://code.jquery.com/jquery-1.11.0.min.js (row 4, column 27353)

[2016-05-04 14:48] srallen commented on #124
@AnLand the JQuery error has to do with a broken project listing in the footer. I'll have a deployed fix up shortly.

As for the 'out of data' message, this is a difficult issue for us to track, however, it looks like something is going wrong as there are 20,000+ active subjects across a couple of subject groups. I'll take a look this morning.

[2016-05-04 15:04] jwidness commented on #124
I've classified over 200 videos since Cold Fire ran out without running into the out of data message -- BUT, I can easily force the message to show up by refreshing the classification page a few times.  I would guess that the problem stems from the fact that Cold Fire's state is still active?

Side question: since we seem to often run into this bug when sites finish, could we possibly change the w

[2016-05-04 15:06] AnLand commented on #124
@srallen Yes, I thought that these are two different problems, but I'm only getting this single errror message. Videos from Restless Star and Dawn Bird are working apparently, but I did not have one from Cold Fire and the pattern of the "We're out of data" message looks like an attempted switch to Cold Fire that failed. But I cannot see an error.
Thanks for checking!

[2016-05-04 15:09] parrish commented on #124
Fixed now.  Redis was slightly out of sync -- which becomes more of a problem when a group nears completion ("cold-fire").

[2016-05-04 15:09] #124 closed

[2016-05-12 14:56] jwidness commented on #124
Can you check the redis for Dawn Bird, I'm getting the out of data message again. Thanks!

[2016-05-12 14:58] AnLand commented on #124
@srallen @parrish Hi, we're having again the "We're out of data" message, but still active subjects. I suspect that it is Dawn Bird that is out of data. Could you fix the wrong display of the message please? Thanks!

[2016-05-12 15:00] parrish commented on #124
Should be fixed now.

[2016-05-12 15:25] jwidness commented on #124
Looks good, thanks for the quick response!

[2016-05-12 17:04] AnLand opened #127 "Skip previews, load directly videos?"
Hi, we would like to ask whether it is possible to skip the nine previews-part of the annotation interface completely and always directly load the video. We think that the small previews, which only show parsed screenshots from the video, lead to many blank classifications when an animal is actually present. This causes problems with too early retirement of videos and influences the majority rule

[2016-05-16 10:22] aliburchard commented on #127
This is really interesting. Have you looked at the data to assess the rates of false negatives based on preview classifications? Multiple people see the previews, and preview images are different for everyone who sees a subject, so that should protect against most false empties, but perhaps the retirement rules need revisiting.

Note that changing the retirement rules could change how you aggregat

[2016-05-22 15:40] AnLand commented on #127
@aliburchard It is not necessary the case that multiple people see the previews as there is the option to permanently skip the previews and directly load the video. I assume that most regular volunteers use this option as the video loads faster, the previews are really small, movement of an animal makes it better recognizable in a video, and in the end they have to load the video anyway if they wa

[2016-05-23 13:41] aliburchard commented on #127
When you say this is based on "randomly checking videos for blanks" -- can you tell me what that means?

I think this definitely warrants looking at the data to see if the previews are actually reducing volunteer accuracy. Also will be good to see how many volunteers use the preview and if that is unevenly distributed across their experience levels.

[2016-05-23 15:30] AnLand commented on #127
For randomly checking, I am using either of the following video selections and check for blank classifications in videos containing an animal, just to get a feeling:
1)	the last 20 videos from the Recents’ stream, if diverse enough (it’s not diverse enough since weeks)
2)	the last 20 videos from my own classification (excluding the real „blanks“)
3)	the last 20 retired videos from the primates’ li

[2016-06-07 12:33] #123 closed

[2016-06-13 13:22] jwidness opened #130 "Aged Violet site location map not displaying"
After a classification at Aged Violet, the map doesn't display on the summary page.

[2016-06-13 13:28] jwidness commented on #122
Could you add https://talk.chimpandsee.org/#/boards/BCP000000s as the new_chimps_link for aged violet?  Thanks!

[2016-06-13 16:04] srallen commented on #130
@jwidness I'm not sure which area on the original map corresponds to the name I'm seeing for that subject group since it doesn't exactly match. Could you let me know which area Aged Violet corresponds to?: http://panafrican.eva.mpg.de/english/where_we_work.php

[2016-06-13 16:05] jwidness commented on #130
It's in Region A.
Thanks!

[2016-06-13 16:22] srallen commented on #130
Reopening. There's another issue causing the image to fail.

[2016-06-13 16:29] srallen commented on #130
@astopy when trying to fetch the `ProjectGroup` for `aged-violet`, it's returning as undefined. I've tried in console `zooniverse.models.ProjectGroup.find("5742e2e257220d001c000001")` and get undefined back. I can fetch another active group, `restless-star` (id: 56c1bcbacf00ff0272000007), successfully.

Relevent code here: https://github.com/zooniverse/chimpandsee/blob/master/app/annotation/summar

[2016-06-13 19:02] AnLand opened #132 "Same adjacent videos are repeated"
This might be a start issue of the new site, but the same small number of adjacent videos seems to be repeated. I individually classified some videos up to three times. Others are classifying the exactly same videos. Usually that is not the case, even with new sites. Maybe more videos need to be activated?

[2016-06-14 09:32] astopy commented on #130
@srallen That's odd. What does it get back from the API? It should be getting https://api.zooniverse.org/projects/chimp/groups/5742e2e257220d001c000001/

[2016-06-14 13:03] astopy commented on #130
@srallen Just had a sec to test this, and it seems to load https://api.zooniverse.org/projects/chimp/groups to get the metadata. There are a lot of groups for this project, so aged-violet is on page 2 https://api.zooniverse.org/projects/chimp/groups?page=2

[2016-06-14 13:16] eatyourgreens commented on #130
It might be better to call the API route directly, rather than using `ProjectGroup.find()`, eg. https://github.com/zooniverse/sciencegossip/blob/master/overrides.coffee#L168

[2016-06-14 13:20] astopy commented on #122
Done!

[2016-06-14 13:25] eatyourgreens commented on #130
Looks like the `find` method on that class doesn't call the API at all, just searches through an array of fetched groups, and `fetch` only grabs the first page of results
https://github.com/zooniverse/Zooniverse/blob/master/src/models/base-model.coffee#L18-L21
https://github.com/zooniverse/Zooniverse/blob/master/src/models/project-group.coffee#L14-L34
so, as Adam suggests, the `instances` array is

[2016-06-14 16:21] srallen commented on #130
Ah ok, thanks @eatyourgreens and @astopy. I'll rework how the group is being fetched.

[2016-06-14 17:00] #130 closed

[2016-06-26 15:12] mimiarandjelovic commented on #132
We have some videos coming up 3 times now and it seems to be happening at an increasing rate, this certainly is decreasing the rate our videos are being analyzed - can someone look into it please?

[2016-06-26 15:16] mimiarandjelovic commented on #132
relevant post: https://talk.chimpandsee.org/#/boards/BCP000000e/discussions/DCP000186b

and collection of some of these videos: https://talk.chimpandsee.org/#/collections/CCPL0000xl

[2016-06-27 14:39] srallen commented on #132
@astopy is there anything on the backend we can do to check if there a duplicates in the subject groups of if subjects are being fetched or cached twice? When I have a moment, I'll see if I can replicate on the front end.

[2016-06-28 14:14] astopy commented on #132
To figure out whether users are being served the same subject more than once or if there are multiple subjects which have the same videos we're going to need a bit more information:

1. When you see a video for the second time, does it have a different ID or the same ID as the first time? i.e. if you click the talk link, do you end up on a different page or not?
2. If the IDs are different, I'll n

[2016-06-28 14:15] astopy commented on #103
This will be the same problem as #132.

[2016-06-28 14:15] #103 closed

[2016-06-28 14:20] jwidness commented on #132
It's almost always the same ID -- there are a few duplicate videos in the data set with different IDs, but that's quite rare, for example ACP000aydw and ACP000awo1.  These duplicates are not the ones we're talking about when we say we get the same video.  I don't think it's the same problem as #98 though.  It's not giving the out of data response, and it's been going on for much longer than the pr

[2016-06-28 14:42] srallen commented on #132
If you see a repeat happen, could you open up your browser console and let me know if you see errors there? A screenshot is ok. I'm working to replicate and haven't seen a duplicate yet.

[2016-06-28 15:14] srallen commented on #132
Ok, just came across one: ACP000f7n7

This video came up in different subject queues. I had been doing a few classifications and refreshing occasionally to switch between the two active groups, restless star and aged violet. I had my console open the whole time and classifying neither time produced an error on the client side that I saw. It's also in my recents twice, with differing `updated_at` t

[2016-06-28 15:23] AnLand commented on #132
Sorry, I wasn't really sure and needed to confirm: I had in the last minutes three repeats (one for the fourth time) and two repetition blanks, e.g. https://talk.chimpandsee.org/#/subjects/ACP000egfy - and there is in my case no error message besides the "mixed content" that is a problem since months.

[2016-07-04 14:13] astopy commented on #132
@parrish Could you weigh in on this? Any idea why Ouroboros would be showing subjects to users more than once?

[2016-07-04 15:13] parrish commented on #132
Chances are this happened when redis ran out of memory.  The failover is a random database selection of active subjects.

[2016-07-05 08:55] astopy commented on #132
Ah, that makes sense. In that case this shouldn't be a regular occurrence.

@AnLand @mimiarandjelovic @jwidness Basically, there was an error that meant the site couldn't check which videos the users had already seen, so it chose some at random instead. This should be very rare... can you confirm that it's not still happening regularly?

[2016-07-05 09:04] AnLand commented on #132
At least for the moment it looks better. I did not have an obvious repeat today. I will check a bit more later. (But I have repeats - ocasionally - for more than a year. In all sites, mostly when a site is about to finish.)

[2016-07-11 09:34] astopy commented on #132
I'm going to close this for now, but let me know if it happens again and we'll investigate further.

[2016-07-11 09:34] #132 closed

[2016-08-13 20:05] #127 closed

[2016-10-03 05:59] AnLand opened #134 "Videos won't play on iPad after latest iOS update"
Hi! Videos don't play anymore on iPads after the latest iOS update (10.0.2). I tried with Safari (makes always some problems) and Chrome (usually fine). Nothing works. Volunteers reported that here: https://talk.chimpandsee.org/#/boards/BCP0000008/discussions/DCP0001ex8 Could you please look into this? Thank you!

[2016-10-03 21:46] srallen commented on #134
We'll take a look at this as soon as we can, but it likely won't be until next week sometime.

[2016-10-11 10:57] astopy commented on #134
This is probably because the videos (and images) are loading over http rather than https. We can't easily update the image locations in the database, so I'd suggest just doing a search and replace on the URLs in the front end somewhere. We did something [similar](https://github.com/zooniverse/Planet-Hunters-2/commit/b77fc6fe2186d08b213904d3926dd91dbe722575) in Planet Hunters.

[2016-10-11 21:09] srallen commented on #134
I'm not sure if that is the issue. It looks like the videos are loading over https, but not the preview images. I've tried string replace modeled after Planet Hunters to fix the previews since the video uses the first preview as its poster and the video still isn't playable on iOS safari. I'll push up a separate PR to fix the preview locations since that should be done anyway.

[2016-10-12 20:03] srallen commented on #134
One clue: I'm not seeing a network response for the request for the video on the site nor if I try to request the source url directly.
![screen shot 2016-10-12 at 3 00 32 pm](https://cloud.githubusercontent.com/assets/5016731/19325702/f4a41524-908c-11e6-8a71-724dc2423c6e.png)

[2016-10-13 09:19] astopy commented on #134
Hmm... that's supposed to redirect to static.zooniverse.org. I wonder if it's not following the redirect.

[2016-10-19 14:14] srallen commented on #134
@astopy are there logs on AWS that we can take a look at to determine if the redirect is indeed failing?

[2016-10-19 15:20] astopy commented on #134
Logging isn't turned on for most front end requests... I've turned it on for chimpandsee.org now though.

The logs aren't delivered in real time (it takes a few hours), so I'll check back later in the week to see if there's anything in there.

[2016-11-01 15:54] astopy commented on #134
I've been debugging this some more this afternoon, and it looks like this is actually a bug in iOS 10. I can't even play the videos in iOS 10 if I upload them to iCloud Drive (but they work in iOS 9), so I'm certain this is nothing to do with HTTPS or anything we're doing on the front end.

It sounds like we're not the only ones, so hopefully Apple will fix this soon:

https://forums.developer.app

[2016-11-01 15:54] #134 closed

[2016-11-01 16:01] AnLand commented on #134
Thanks for letting us know! I wrote an update for our volunteers on Talk. Let's hope that the general problem will be solved soon.

[2016-11-12 12:33] ksigler opened #136 "Reporting problematic clip(s), one does not stop playing in Chrome & FF"
Subjects [ACP000coxj](https://talk.chimpandsee.org/#/subjects/ACP000coxj) through [ACP000coyy](https://talk.chimpandsee.org/#/subjects/ACP000coyy) seem to be corrupted or recorded or processed incorrectly, but only [ACP000coyh](https://talk.chimpandsee.org/#/subjects/ACP000coyh) causes the issue below (so far).

Playing this video in Internet Explorer seems normal.  When playing in Chrome or Firef

[2016-11-15 15:41] srallen commented on #136
I am seeing the same issues in Chrome and Firefox and it doesn't seem to be an issue with the video player. Either something went wrong in the encoding or something is wrong in the original source file. @astopy do we keep any logs from the encoding process that could be looked at? This is the source of ACP000coyh: https://static.zooniverse.org/www.chimpandsee.org/subjects/56b208d78f7532000191c787/

[2016-11-15 15:57] astopy commented on #136
Unfortunately we don't have logs from the encoding, but it's probably an issue with the original file since it's affecting multiple consecutive subjects. We don't still have the original files but I'll check with the science team.

[2016-11-15 16:00] astopy commented on #136
Oh actually, we do still have the files. Downloading them now.

[2016-11-15 16:06] srallen commented on #136
Since ACP000coyh is causing play back issues and crashing some browsers, could we pause that subject for now?

[2016-11-15 16:11] astopy commented on #136
ACP000coyh is already retired -- looks like a few people marked it as blank so it retired pretty quickly.

[2016-11-15 16:38] astopy commented on #136
Ok, looks like there are only 15 other active subjects from the affected videos:

ACP000coxv
ACP000coy2
ACP000coyq
ACP000coxt
ACP000coxk
ACP000coy7
ACP000coye
ACP000coxl
ACP000coyk
ACP000coyu
ACP000coxj
ACP000coy5
ACP000coyn
ACP000coy6
ACP000coyf

I'm just going to go ahead and pause them.

[2016-11-15 16:40] #136 closed

[2016-12-06 17:37] srallen commented on #58
Closing since IE 10 and 11 are more than two versions behind current and last most recent MS browsers.

[2016-12-06 17:37] #58 closed

[2016-12-09 21:23] jwidness opened #138 "Hastags working improperly when a discussion also has tags in it"
When I try to build a collection, it seems that if a video has a discussion going that has hashtags in it, those are the only tags the collection looks at.  For example, when I built a collection looking for #mangabey, but excluding #lingeringshape, [ACP0005xbw](https://talk.chimpandsee.org/#/subjects/ACP0005xbw) was incorrectly in that collection.  When I added the #lingeringshape tag to the [dis

[2016-12-09 21:37] jwidness commented on #138
I think I was slightly wrong -- it looks like the tags have to be in both the comments and the discussion to count.

[2016-12-18 02:10] jwidness commented on #138
Ok, I think I've got it.  It seems like the way it works is that when you create a collection, it independently evaluates the comments and the discussions, and if either one alone says to add that video, then the video gets added.  So an example case that behaves in a way that I wouldn't expect is if you put tag1 in the comments, and tag2 in the discussion, and then ask for videos with tag1 AND ta

[2016-12-22 06:39] AnLand opened #141 "Unexpected (and impossible?) peak of classifications"
The Chimp&See status showed yesterday an unexpected, very high peak in classifications in the 2 p.m. time window (European time). One volunteer apparently made 1,337 classifications. Even with using mainly the previews and a lot of empty videos, it is in our opinion impossible to make so many classifications. So, we wonder whether one can find out whether these are legitimate classifications or wh

[2016-12-22 15:08] srallen commented on #141
A school or library would appear to be from the same IP address, so it's possible if there was a group doing classifications that way. Further analysis of the classification data from this time would need to happen to determine if they are valid or not.

[2017-01-16 13:13] ksigler opened #144 "Remove download button on classification videos"
Videos in classification now have a "download" button on the player toolbar that we would prefer not be available to volunteers.  Is it possible to revert back to how it was, or hide this new button somehow?

It only seems to appear in Chrome (not IE or Firefox) and only on the classification video player, not on the individual subject videos.  If it helps, I'm using Chrome Version 55.0.2883.87 m

[2017-01-16 16:38] srallen commented on #144
@ksigler The update to Chrome version 55 added this button to the native video controls UI. I can use some hacky CSS to essentially hide it from view, but this causes an unintended side effect in Safari where its full screen button is pushed off to the side:

<img width="267" alt="screen shot 2017-01-16 at 10 02 22 am" src="https://cloud.githubusercontent.com/assets/5016731/21991130/01e7af8a-dbd7-

[2017-01-16 17:07] ksigler commented on #144
Thanks, @srallen !  That's very helpful to know that there is a discussion about removing it.  I'm a slow upgrader for this very reason!  I'll make sure the science team gets this information so they can decide what to do.  Do you happen to have any analytics on what devices/browsers most people are using (this would answer a few of our recurring questions)?

[2017-01-16 17:20] srallen commented on #144
Here are the ton ten for browser, OS, and device on google analytics:

![pasted image at 2017_01_16 05_12 pm](https://cloud.githubusercontent.com/assets/5016731/21992805/8714dd26-dbdd-11e6-9b5e-3ed81a42f74b.png)
![pasted image at 2017_01_16 05_14 pm](https://cloud.githubusercontent.com/assets/5016731/21992810/89d6ed1a-dbdd-11e6-9d73-18510a1fcc3a.png)
![pasted image at 2017_01_16 05_14 pm 1](https:

[2017-01-16 19:02] ksigler commented on #144
Spoke with Mimi and she's on board with hiding the download button as a temporary fix.  If Google presents a better solution, or it turns out that it causes any other significant issues, then we should revert.  Does that work for you guys?

[2017-01-16 20:05] srallen commented on #144
I've deployed the CSS hack, so the button is now hidden. I've starred that open issue with Google, so I should get emailed whenever there is an update. Hopefully Google prioritizes the issue.

[2017-01-16 20:11] #96 closed

[2017-01-16 20:12] srallen commented on #83
This is a year plus old and difficult to debug since Chrome version is not known. Will reopen if any new reports exist.

[2017-01-16 20:12] #83 closed

[2017-01-16 20:13] #76 closed

[2017-01-16 21:03] ksigler commented on #144
Wonderful, thank you for helping us with this!

[2017-01-17 20:53] anselmbradford commented on #76
🙉

[2017-02-20 18:32] AnLand opened #146 "Restless Star with negative (-) active videos"
Hi! The Restless Star site should be completed, but the summary page display negative active videos: "active":-9," since a few minutes. I got a "We're out of data" message briefly, but then it switched to another site. Is this a problem of the paused videos at Restless Star?

[2017-02-21 12:05] astopy commented on #146
Sometimes the system loses count! I've corrected that now and marked the group as complete.

[2017-02-21 12:05] #146 closed

[2017-03-10 06:32] AnLand commented on #106
Hi! This problem surfaced again (see [discussion](https://talk.chimpandsee.org/#/boards/BCP000000e/discussions/DCP00010fz)) and I can confirm that a friend of mine has the same problem. The favorites button is for him not only working sketchy, but not at all. This is especially a problem for volunteers coming not regularly to Talk. Could you look into that again? Thanks!

[2017-03-20 14:27] srallen commented on #106
Just wanted to let you know that this is on my radar, but I can't guarantee when I'll get to it. We have a hard deadline for couple of projects launching in the next couple of weeks. I hope to make some time for it this week. Thanks for your understanding.

[2017-03-20 19:14] srallen commented on #106
@AnLand I'm taking a look at this and it'll take me a moment to remember what might have been going on. I am able to replicate the issue. If you click the button and complete the classification, the newly favorited subject is not showing up in the favorites collection on the profile page. Since there is no error, something is silently failing. I'm investigating the data that is being sent and rece

[2017-03-21 19:15] srallen commented on #106
@AnLand There was a bug with the correct workflow id being written into the classification. This wasn't affecting the classification being sent and there is only one workflow for this project, so this bug isn't a big issue for the project. This is now corrected. I checked the site and now I'm seeing subjects show up into my favorites collection correctly when favorited in the classification interf

[2017-03-25 08:27] AnLand commented on #106
Thanks @srallen! I tested with three different accounts (from friends) and now it works without any problems. The problem that videos marked as favorites during classification (with the "heart button") has always been included twice in a collection seems to be gone, too. Thanks a lot!

[2017-03-27 13:55] srallen commented on #106
Ok great! It sounds like this is fixed now, so I'll close the issue.

[2017-03-27 13:55] #106 closed

[2017-04-10 14:30] srallen commented on #144
Noting here that Google added support to disable the download button for HTML5 video and audio in version 58: https://developers.google.com/web/updates/2017/03/chrome-58-media-updates#controlslist

We should update to use this instead of the hacky workaround I put in place once we see most of C&S chrome users move to version 58.

[2017-07-07 05:57] AnLand commented on #141
Hi! We had again yesterday (July 6) and last week (June 30) two very high classification events, with yesterday more than 4,000 classifications within one hour. Even for a school class or a course with 40 participants this would be a quite high turnover for Chimp&See. If I remember the numbers correctly, unexpectedly many videos got retired. Of course, that is all possible ... Nevertheless, we wou

[2017-07-12 18:59] srallen commented on #141
@astopy Any chance you'll have time in the next couple weeks to help take a look at this? We'll probably will need to take a look at the classifications in this time range to check if they're real dups, if they look like were made by a bot, or if they look like they were caused by a front end bug? I'd think if it was a front end bug, this would have been happening since the project launched, so I

[2017-07-18 10:09] astopy commented on #141
I'm thinking this is some kind of bot, deliberately (I assume) submitting bogus "nothing here" classifications. I just been manually spot checking some of the classifications from that time, and just in the first few I checked there are several videos which they classified as empty but which actually have obvious animals which would be impossible to miss.

I'm not sure if we can really do anything

[2017-07-19 17:41] AnLand opened #147 "Green Snowflake site chimp ID board button needs new link"
After you classify a chimp video, the summary page has a button labeled "Site Chimp ID Board" (see image). This button doesn't go to the ID board for the new site Green Snowflake. The link need to be corrected to the URL of the new discussion board. So we should have for Green Snowflake "https://talk.chimpandsee.org/#/boards/BCP000000v" (not the classification interface).

Thanks!

<img width="955

[2017-07-19 17:47] AnLand commented on #147
Also, is there a chance to bring the discussion boards in the right order (No. 16 - the new one) at the end and not in the middle of other discussion boards. See attached image: first here No. 16, then others, then older site boards in the correct numbering order. Thanks again.

<img width="863" alt="order_boards" src="https://user-images.githubusercontent.com/7421089/28381374-ef07c4de-6cba-11e7-9

[2017-07-25 13:37] astopy commented on #147
Thanks, that's all taken care of now.

[2017-07-25 13:37] #147 closed

[2017-10-02 01:50] jwidness opened #148 ""Out of data" message is back"
Aged Violet is almost out of videos, but it seems the last few won't come up for classification.  Instead, the interface is giving the "out of data" message when it tries to load Aged Violet videos to the queue.  Green Snowflake videos are still queuing ok.

[2017-10-04 12:50] astopy commented on #148
Ouroboros' subject counts for that group were incorrect, so it thought all the remaining subjects were already active. I've reset the counts and manually activated the remaining subjects.

[2017-10-04 16:21] AnLand commented on #148
We finished Aged Violet, but the "out of data" message is still displayed.

[2017-10-05 09:27] astopy commented on #148
Ah, the group hadn't been automatically marked as complete because it has some paused subjects. I've manually changed its status.

[2017-10-05 09:27] #148 closed

[2017-12-17 18:00] AnLand opened #151 "Problem in time recordings for comments"
Hi! Chimp&See has since yesterday a strange glitch in the comments (both video comments and on the discussion boards). First, the comments do have a wrong time stamp from several hours ago. That means, if one makes a comment right now, the time stamps says one commented 2 to five hours ago. The time recorded is not the same deviation for each comment, so that comments are not displayed in the righ

[2017-12-18 11:16] astopy commented on #151
Sorry about that. This looks like a problem at Amazon (where our servers are hosted) which was stopping the servers from keeping their clocks in sync. Hopefully it should be fixed now!

[2017-12-18 11:16] #151 closed

[2017-12-18 11:16] astopy commented on #151
Just to note, unfortunately we won't be able to fix the timestamps on comments that have already been posted.

[2018-03-04 15:58] yshish opened #153 "Incorrect image thumbnail for the Other(non-primate) category"
There is an incorrect image thumbnail for the Other (Non-primate) category - it shows a bird of prey, the same image as it shows for the Bird category.
It confused me when classifying a genet, it made me think I had chosen a wrong category.

Screenshot showing both categories with the same image thumbnail:
![ysh_2018-03-04_16-50-14](https://user-images.githubusercontent.com/7211888/36947502-13fa8b

[2018-03-04 15:58] yshish commented on #153
@srallen Can you look at it please? Thank you :)

[2018-03-05 15:25] srallen commented on #153
This is working as intended. The image is being reused for non-primate in the previews in the classifier as well as in the field guide. I only have 28 preview animal images, so if it wasn't the bird, it would be another already used non-primate animal: https://github.com/zooniverse/chimpandsee/blob/master/public/assets/chimps-tooltips-sprite.jpg

[2018-03-05 15:25] #153 closed

[2018-03-05 20:42] #144 closed

[2018-03-05 20:43] srallen commented on #9
Translations is in a beta testing state now on Panoptes and PFE.

[2018-03-05 20:43] #9 closed

[2018-03-06 16:23] yshish commented on #153
OK, thank you for explaining. Anyway, that fact surprises me because this _Other non-primate_ category isn't meant for birds as they've got their own category. So it doesn't make sense to have it for both categories.

I think there used to be an image example of a genet for that category (not sure though as I haven't been there for a while) but definitely not a bird.

I asked in the C&S Talk wheth

[2018-03-06 16:41] yshish commented on #153
Ah, I can't see the button for re-opening issues so I guess I haven't got rights to do so.

[2018-03-06 17:06] srallen commented on #153
It's been the bird image since the site launched: https://github.com/zooniverse/chimpandsee/commit/67546559d27eef99139b601b9e3ca597b13825a4#diff-5fd934dfc456a2832134a65850d143a0R152

I would prefer if it's going to be changed to plan on the change for the Panoptes version of the project.

[2018-06-30 05:53] AnLand opened #154 "Mozilla Firefox update caused some icons to disappear"
The current Firefox update (61.0) caused some icons to disappear on the annotation interface, I believe. The gray heart icon for the favorites and the "done" icon in the step-wise classification are missing. I attach a screenshot.

<img width="350" alt="2" src="https://user-images.githubusercontent.com/7421089/42121966-1de740e2-7c3a-11e8-85b9-d2d7e851288c.png">

There is also another discussion ab

[2018-06-30 19:45] AnLand commented on #154
The icons seem to be back now.

[2018-07-02 20:12] srallen commented on #154
@AnLand I've updated to the latest Firefox and I see some of the icons missing as well. The site seems to be taking longer than it should to load in both Chrome and Firefox, so I'm investigating that to see if it's related.

[2018-07-02 20:19] srallen commented on #154
Just an update, clearing the cache on the server seems to have improved load times.

As for the play button in Chrome, I can confirm I see that behavior too where the button remains in full screen mode. This likely changed in the latest update. I'll look to see if it's configurable for the player.

[2018-07-09 15:04] srallen commented on #154
We've fixed the slow site loading issue, which I think was causing the issue of the image assets not loading correctly.

The Chrome play bug issue I think is unfortunately a browser issue and I'm not sure of a good code hack around that yet. I've described how to work around it manually in the Talk thread for those users experiencing this behavior.

[2018-07-09 15:04] #154 closed

[2018-08-24 16:13] AnLand opened #156 ""Search" function broken on Chimpandsee Talk page"
Hi! The "Search" function on the Chimp&See Talk page is broken and does not return any results for searches anymore. It was reported by three volunteers (including myself) and I tested for Firefox and Google Chrome. As nothing happens at all if you enter a search term and press the respective "Search" button, it could be the search function or just the button. Could you please check this, the sear

[2018-08-29 14:30] adammcmaster commented on #156
Thanks for the report. This is working again now.

[2018-08-29 14:30] #156 closed, assigned to nobody

[2019-12-06 15:52] AnLand commented on #141
Hi!

Chimp&See is experiencing today again an unexpected spike of classifications. We are already at over 10,000 classifications today (roughly five times of our usual daily classification count). There are also not massively many people online (visible). Are these real classifications and not only a counter problem and can we find out whether they are valid, i.e., actual people classifying? Even

[2019-12-12 22:13] trouille commented on #141
@adammcmaster or @zwolf Please do look into the above^. Additional info from Colleen, one of the lead researchers:

There is indeed weird stuff happening, but I'm not sure what's happening exactly.

The spike in classifications is due to a single "user name" at a single IP address (not-logged-in-940ce270d0a4e33f5535 at 940ce270d0a4e33f5535). There are 8885 classifications from 8am to 5pm UTC time

[2019-12-12 22:17] trouille commented on #141
To highlight from her comment above is that when she looks at the answers, they do seem legit. So perhaps it is just a school with a bunch of non-logged in users all sharing the same IP who did 8K+ classifications in one day? Would just be good to get your expert opinion/input. Thanks!

Also important to note that the classification rate has dropped back down to typical since that one date. https:

[2019-12-13 11:06] adammcmaster commented on #141
It certainly sounds like it was just some kind of group classification session with a lot of people sharing an IP. I'm not sure what else we can do really, but if there's a concern about these classifications they could be excluded from any analysis later. The affected subjects could also be added back to the workflow later with a higher retirement limit to get more classifications if needed.

[2019-12-13 15:51] zwolf commented on #141
Could this be related to the code.org group classification event that was discussed earlier this month? It was supposed to be for Snapshot Serengeti, but maybe they switched?

[2019-12-13 15:59] trouille commented on #141
The code.org activity prompted them towards snapshotSafari.org projects, but good question to ask. Very possible a teacher involved w/ that found chimpandsee on their own and liked it and spread that through the school’s activities